p {
    color : #964B00;
    line-height : 30px;
}

h1 {
    text-align : center;
}

h3 {
    color : black;
    text-align : center;
}

h4 {
    text-align : center;
}

a {
    color : rgb(0,128,0);
    text-decoration : none;
}

body {
    background-color : wheat;
    font-family : georgia;
}
button {
    color : blueviolet;
    background-color : white;
}
textarea {
    color : #000;
}